* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  background-color: #0063d2;
  position: relative;
  padding-bottom: 75px;
  z-index: 1;

}
.mySlides img{
  max-width: 1000px;
  z-index: 1;
  float: center;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
  z-index: 1;
}

/* Position the "next button" to the right */
.next {
  right: 180px;
}
.prev {
  left: 180px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center;
  z-index: 1;
}

.active, .dot:hover {
  background-color: #ffff;
}


.mySlides {
  display: none;
  z-index: 1;
}
.slides {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 30px;
}

.header img{
  width: 110px;
  border-radius: 10px;
  padding: 15px 5px;
  margin-top: 15px
}

